/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  /* background: #f1f1f1; */
  margin: 0;
  /* font-family: "Poppins"; */
}

.headerContainer {
  margin: 0 auto;
  padding: 10px 20px;
  /* background: #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navContainer > * {
  /* targets everything inside the container */
  margin-right: 15px; /* Adjust the margin as needed */
}
header a {
  color: inherit;
  text-decoration: none;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a,
nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  /* font-family: "Poppins"; */
  cursor: pointer;
  font-size: 1em;
}

/* Media Query for Navbar small screens */
@media (max-width: 580px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .navContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .navContainer > * {
    margin-bottom: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  nav a,
  nav button {
    margin: 5px 0;
  }
}
.pages {
  /* max-width: 1400px; */
  padding: 0px;
  /* background-color: #333; */
  margin: 0 auto;
}

/* about */
.aboutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 0;
  padding: 0rem;
  /* this padding controls size of backgroundimage */
}
.aboutContent {
  padding-top: 15rem;
  max-width: 70rem; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */

  z-index: 1;
}
.aboutHeading {
  font-size: 30px;
}

/* homepage + feed*/
.home,
.feed {
  /* background-color: #333; */
  /* grid-template-columns: 3fr 1fr; */
  max-width: 100%;
  border-radius: 0;
  gap: 100px;
  /* height: 100vh; */
}

.homeContainer,
.feedContainer {
  /* display: grid; */
  max-width: 45%;
  border-radius: 0;
  margin: 0 auto;
}
/* test */
/* can override the titles on the post cards */
/* .homePosts .post-details h4,
.feedPosts .post-details h4 {
  
} */

/* removes the underline from the post link */
#root > div > div > div > div > div > a {
  text-decoration: none;
}

.post-details {
  /* background: #fff; */
  /* border-radius: 4px; */
  margin: 5rem auto;
  /* padding: 20px; */
  position: relative;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05); */
}
.post-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  /* color: var(--primary); */
}

.post-details p {
  margin: 0;
  text-decoration: none;
  font-size: 0.9em;
  /* color: #555; */
}

@media (max-width: 400px) {
  .postDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* background: lightgrey; */
  /* padding: 6px; */
  /* border-radius: 50%; */
  /* color: #333; */
}

/* new post form */
label,
input {
  display: block;
}
.postForm {
  width: 60%;
  margin: 0 auto;
}
.postFormInput {
  width: 100%;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  /* font-family: "Poppins"; */
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a,
nav button {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  /* font-family: "Poppins"; */
  cursor: pointer;
  font-size: 1em;
}

/* login and signup outer card */
.loginCard,
.signupCard {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  border-radius: 0;
  padding: 0rem;
  /* this padding controls size of backgroundimage */
}
/* container targeting the mantine Paper component */
.loginContainer,
.signupContainer {
  margin: 0 auto;
  margin-top: 15rem;
  justify-content: center;
  height: 44vh;
  width: 30vw;
}

.signup {
  height: 60vh;
  /* background-color: red; */
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* background: #fff; */
  border-radius: 4px;
}
